# Database Configuration
DATABASE_URL=postgresql://user:password@localhost/dbname

# App Secrets (replace with your actual secret key)
SECRET_KEY=supersecretkey

# Redis
REDIS_URL=redis://localhost:6379/0
